/* .card > p {
  color: #002547;
} */
/* .card > p {
  color: rgb(100, 50, 0);
} */
/* .card > p {
  color: rgba(63, 5, 5, 0.9);
} */
/* .card > p {
  color: hsl(11, 100%, 60%);
} */
.card {
  color:red;
}
.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}
p:focus, p:active, p:hover {
  -webkit-text-fill-color: rgb(81, 255, 0);
  -webkit-text-stroke: 1px rgb(255, 0, 191);
  direction: rtl;
}
/* #test {
  color: initial;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;
} */
#test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;
  /* writing-mode: vertical-lr; */
  text-align: justify;
  letter-spacing: 10px;
  text-decoration: underline dotted blue;
}
span {
  text-transform: capitalize;
}
pre {
  tab-size: 1px;
  
}
* {
  font-family: 'Roboto', sans-serif;
}